/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert/MarcelJoachimKloubert.csproj.user
/MarcelJoachimKloubert/project.lock.json
/.vs/MarcelJoachimKloubert/v14/.suo
/MarcelJoachimKloubert.Diagnostics.Tests/obj
/MarcelJoachimKloubert.Diagnostics.Tests/bin
/MarcelJoachimKloubert.Diagnostics.HttpDebugger/obj
/MarcelJoachimKloubert.Diagnostics.HttpDebugger/bin
/packages
/MarcelJoachimKloubert.Diagnostics.HttpDebugger/MarcelJoachimKloubert.Diagnostics.HttpDebugger.csproj.user
